{block content}

<section class="cover cover--projects">
	<div class="cover__visual">
		<div class="cover__visual-inner">
			<picture class="cover__image">
				<source srcset="{$basePath}/assets/images/content/projects/byty-kv/cover_940.jpg" media="(max-width: 940px)" type="image/jpeg">
                <source srcset="{$basePath}/assets/images/content/projects/byty-kv/cover.jpg" media="(max-width: 1920px)" type="image/jpeg">
                <img src="{$basePath}/assets/images/content/projects/byty-kv/cover.jpg" alt="">
			</picture>
		</div>
	</div>

	<div class="cover__wrapper wrapper">
		<div class="hero">
			<h1 n:block=title>
				<span class="subheadline">Bytové jednotky</span>
                Karlovy Vary
			</h1>
		</div>
	</div>
</section>

<section class="projectDetail">
    <div class="projectDetail__wrapper wrapper">
        <h2>Název a typ projektu</h2>
        <h3>Bytové jednotky Karlovy Vary</h3>

        <p>
            Návrh interiéru – vytvoření vizualizace k bytovým jednotkám. 
        </p>

        <div class="projectDetail__visualizations">
            <h4>Varianta 1</h4>
            <div class="gallery" id="projects-detail-gallery">
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-1.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-1.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-2.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-2.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-3.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-3.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-4.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-4.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-5.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-5.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-6.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-6.jpg" alt="">
                </a>
            </div>
        </div>

        <div class="projectDetail__visualizations">
            <h4>Varianta 2</h4>
            <div class="gallery" id="projects-detail-gallery">
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-7.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-7.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-8.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-8.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-9.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-9.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-10.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-10.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-11.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-11.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-12.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-12.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-13.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-13.jpg" alt="">
                </a>
            </div>
        </div>

        <div class="projectDetail__visualizations">
            <h4>Terasa</h4>
            <div class="gallery" id="projects-detail-gallery">
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-14.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-14.jpg" alt="">
                </a>
                <a href="{$basePath}/assets/images/content/projects/byty-kv/full/gallery-15.jpg">
                    <img src="{$basePath}/assets/images/content/projects/byty-kv/thumb/gallery-15.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="projects projects--full">
    <div class="projects__wrapper wrapper">
        <h2>Podobné projekty</h2>

        <div class="projectsSlider">
            <div class="projectsSlider__item">
                <a class="projectsSlider__inner" n:href="Projects:javorovaDobruska">
                    <h3>
                        Bytové domy <br>
                        Javorová - Dobruška
                    </h3>
                    <span class="projectsSlider__img">
                        <span class="projectsSlider__badge projectsSlider__badge--selling">Právě prodáváme</span>
                        <img src="{$basePath}/assets/images/content/projects/javorova.png" alt="">
                        <span class="button button--white">Detail</span>
                    </span>
                </a>
            </div>
            <div class="projectsSlider__item">
                <a class="projectsSlider__inner" n:href="Projects:kostelniHlavno">
                    <h3>
                        Bytový dům <br>
                        Kostelní Hlavno
                    </h3>
                    <span class="projectsSlider__img">
                        <span class="projectsSlider__badge projectsSlider__badge--done">Realizováno</span>
                        <img src="{$basePath}/assets/images/content/projects/kostelni-hlavno.png" alt="">
                        <span class="button button--white">Detail</span>
                    </span>
                </a>
            </div>
            <div class="projectsSlider__item">
                <a class="projectsSlider__inner" n:href="Projects:jesenice">
                    <h3>
                        Bytový dům <br>
                        Jesenice
                    </h3>
                    <span class="projectsSlider__img">
                        <span class="projectsSlider__badge projectsSlider__badge--done">Realizováno</span>
                        <img src="{$basePath}/assets/images/content/projects/jesenice.png" alt="">
                        <span class="button button--white">Detail</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
