@import '../config';
@import '../core/breakpoints';

section {
	margin-bottom: $section-gutter;
}

.wrapper {
	max-width: $grid-max-width;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	box-sizing: border-box;
	@include max940px {
		padding: 0 2rem;
	}
}

table {
	border-collapse: collapse;
}
