<footer class="footer">
	<div class="footer__wrapper wrapper">
		<a class="footer__cookie" href="javascript:void(0);" data-cc="c-settings">{_}Nastavení cookies{/_}</a>
		<p>© {if date(Y) !== '2021'}2021&mdash;{/if}{date(Y)} Studio Freshnet</p>
	</div>
</footer>