<footer class="footer">
	<div class="footer__wrapper wrapper">
		<a class="footer__cookie" href="javascript:void(0);" data-cc="c-settings">{_}Nastavení cookies{/_}</a>
		<p>© {date(Y)} <span class="gold">Robas Development</span></p>
	</div>
</footer>