# CookieComponent

'Tyto webové stránky používají k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookie. Informace o tom, jak tyto webové stránky používáte, jsou sdíleny se společností Google. Používáním těchto webových stránek souhlasíte s použitím souborů cookie.':
	sk: 'Tieto webové stránky používajú na poskytovanie služieb, personalizáciu reklám a analýzu návštevnosti súbory cookie. Informácie o tom, ako tieto webové stránky používate, sú zdieľané so spoločnosťou Google. Používaním týchto webových stránok súhlasíte s použitím súborov cookie.'

'Souhlasím':
	sk: 'Súhlasím'

'Nastavení cookies':
	sk: 'Test'