.contact {
    margin-bottom: 0;
    .contact__row {
        display: flex;
    }

    .contact__col {
        padding: 5rem 0;
    }

    .contact__col--info {
        display: flex;
        justify-content: flex-end;
        background-color: #383838;
        color: $white;
        width: 40%;
        .contact__inner {
            max-width: 330px;
            width: 100%;
            padding-right: 5rem;
            box-sizing: border-box;
        }
    }

    .contact__col--form {
        width: 60%;
        .contact__inner {
            padding: 0 5rem;
            max-width: 700px;
            width: 100%;
            box-sizing: border-box;
        }

        h2 {
            color: #383838;
        }
    }

    h2 {
        font-size: 50px;
    }

    .contact__address {
        display: block;
        font-style: normal;
        line-height: 1.75;
    }

    .contact__availability {
        display: block;
        margin-top: 3rem;
        padding: 3rem 0;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        line-height: 1.75;
    }

    .contact__link {
        font-weight: bold;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
