@import '../config';

.cover {
	position: relative;
	.cover__image {
		display: block;
		max-width: 1920px;
		width: 100%;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0.9);
		img {
			display: block;
			width: 100%;
		}
	}

	.cover__wrapper {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
}
