@import '../config';

.cover {
	position: relative;
	.cover__image {
		display: block;
		max-width: 1920px;
		width: 100%;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0.9);
		img {
			display: block;
			width: 100%;
		}
	}

	.cover__wrapper {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
}

.cover--subpage {
	.cover__wrapper {
		position: relative;
		top: 0; left: 0;
		transform: none;
		margin: 5rem auto 10rem;
	}

	h1 {
		font-size: 120px;
		color: $blue;
		border-bottom: 3px solid $gold;
		padding-bottom: 100px;
		margin-bottom: 150px;
		@media screen and (max-width: 1075px) {
			font-size: 80px;
			padding-bottom: 75px;
			margin-bottom: 0;
		}
	}
}

.cover--projects {
	h1 {
		.subheadline {
			font-size: 30px;
			margin-bottom: 0;
			text-transform: none;
			color: $white;
		}
	}
}
