.footer {
	background-color: $blue;
	p {
		text-align: center;
		margin-bottom: 0;
		color: $white;
	}

	.footer__cookie {
		display: block;
		text-align: center;
		margin-bottom: 0.5rem;
		color: $white;
	}

	.footer__wrapper {
		padding: 2rem;
	}

	.gold {
		color: $gold;
		font-weight: bold;
	}
}