@import '../config';

.hero {
    position: relative;
	display: inline-flex;
	justify-content: center;
    flex-direction: column;
    width: fit-content;
    padding: 4rem 2.5rem;
    border-width: 6px 0 6px 6px;
	border-style: solid;
    border-color: $gold;
    @media screen and (max-width: 1230px) {
        width: 90%;
        box-sizing: border-box;
        padding: 2rem 2.5rem;
    }

    @media screen and (max-width: 1070px) {
        width: 95%;
    }

    @include max480px {
        padding: 1.5rem;
    }

    &:before, 
    &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: $gold;
        right: -6px;
        width: 6px;
    }

    &:before {
        bottom: -6px;
        height: 70%;
    }

    &:after {
        top: -6px;
        height: 12.5%;
    }

    h1 {
        font-size: $hero-font-size;
        text-align: left;
		color: $white;
        @media screen and (max-width: 1450px) {
            font-size: 4.5rem;
        }

        @media screen and (max-width: 1270px) {
			font-size: $hero-font-size - 0.5rem;
            br {
                display: none;
            }
		}

        @include max940px {
            font-size: 3.5rem;
        }

        @include max480px {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }
    }

    .button {
        @include max940px {
            display: inline-flex;
        }
    }
}
