// Grid size
$grid-max-width: 1176px;


// Spaces
$section-gutter: 6rem;


// Typography
$base-font-size: 15px;
$base-line-height: 1.5;

$base-paragraph-size: 1rem;

$hero-font-size: 5.5rem;
$h1-font-size: 3.33rem;
$h2-font-size: 2.25rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;

$underlined-links: true;


// Fonts
$fonts-path: '../../fonts/';

$font-playfair: 'Playfair Display', serif;
$font-opensans: 'Open Sans', sans-serif;


// Colors
$white: #FFF;
$black: #000;

$gold: #c3a15a;
$blue: #242e3d;
$green: #687068;
$beige: #c0b6ad;

$base-text-color: $white;


// Forms
$form-columns-gap: 1rem;

$form-input-padding-tops: 0.5rem;
$form-input-padding-sides: 1rem;

$form-input-border-radius: 0;
$form-input-border-width: 1px;
$form-input-border-color: #676f67;

$form-input-text-size: $base-font-size;

$form-input-background-color: transparent;
$form-input-text-color: $black;


// Common radius
$base-radius: 0;
$button-radius: 0;


// Header
$header-bg-color: $white;


// Hamburger
$hamburger-breakpoint: 940px;

$hamburger-label-color: $black;
$hamburger-line-color: $black;

$hamburger-overlay-color: $black;
$hamburger-overlay-item-color: $white;

$hamburger-line-width: 45px;
$hamburger-line-height: 3px;
$hamburger-line-radius: 2.5px;
$hamburger-line-gap: 7px;

$hamburger-height: ($hamburger-line-height * 3) + $hamburger-line-gap * 2;
